# Задание 1

In [54]:
word = input (str())
x = len(word)//2
if len(word)%2==0:
    print (word[(int(x)-1):int(x)]) 
elif len(word)%2!=0:
    print (word[int(x)])

testo
s

# Задание 2

In [73]:
n = 0
# сумма:
sum_n = 0
while True:
    a = int(input())
    
    # Если 0:
    if a == 0:
        break
    else:
        sum_n += a
       
print('сумма: ', sum_n)

2
-3
4
0
сумма:  3

# Задание 3

In [40]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

boys.sort(), girls.sort()

couples = zip(boys, girls)
couples_list = list (couples)
print (couples_list)

[('Alex', 'Emma'), ('Arthur', 'Kate'), ('John', 'Kira'), ('Peter', 'Liza'), ('Richard', 'Trisha')]

In [43]:
print ('Идеальные пары:')
for duo in couples_list:
    print (duo[0], 'и', duo[1])

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [42]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

number_of_boys = len(boys)
number_of_girls = len(girls)

if number_of_boys!=number_of_girls:
    print ('Внимание, кто-то может остаться без пары!')

Внимание, кто-то может остаться без пары!

# Задание 4

In [45]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for temp in countries_temperature:
    print (temp[1])

[75.2, 77, 78.8, 73.4, 68, 75.2, 77]
[57.2, 55.4, 59, 59, 53.6]
[35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]
[50, 50, 53.6, 57.2, 55.4, 55.4]

In [74]:
for temp in countries_temperature:
    aver_temp = sum(temp[1])/len(temp[1])
    print (aver_temp)

74.94285714285714
56.839999999999996
38.68571428571429
53.599999999999994

In [110]:
    aver_temp = [74.94285714285714,
56.839999999999996,
38.68571428571429,
53.599999999999994]
    aver_temp_cel = [(i-32)*5/9 for i in aver_temp]
    print (aver_temp_cel)

[23.85714285714285, 13.799999999999999, 3.714285714285717, 11.999999999999996]

In [119]:
print('Средняя температура в странах:')
aver_temp_cel = list (aver_temp_cel)
for item in countries_temperature:
        print (item[0], aver_temp_cel[0])

Средняя температура в странах:
Thailand 23.85714285714285
Germany 23.85714285714285
Russia 23.85714285714285
Poland 23.85714285714285