Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера.
Определите какому фильму было выставлено больше всего оценок 5.0.

In [40]:
import pandas as pd

In [42]:
ratings = pd.read_csv('/Users/mac/Downloads/serendipity-sac2018/answers.csv')
ratings[ratings['rating']==5.0]['movieId'].value_counts().head(1)

166643    4
Name: movieId, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [34]:
power = pd.read_csv('/Users/mac/Desktop/2see:learn/analytics/Netology/Netology_python/Pandas/10._Основы_pandas/power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [35]:
filtered_countries = power[((power['country'] == 'Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia'))&((power['category'] == 4) | (power['category'] == 12)| (power['category'] == 21))]
filtered_countries = filtered_countries[(filtered_countries['year'] > 2004) & (filtered_countries['year'] < 2011) & filtered_countries['quantity'] > 0]
filtered_countries.groupby('country')['quantity'].sum()

country
Estonia       63440.0
Latvia        54844.0
Lithuania    122197.0
Name: quantity, dtype: float64

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [38]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  86.82      -0.13         -0.15        NaN
1       USDRUB Курс рубля к доллару  73.30      -0.10         -0.13        NaN