Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера.
Определите какому фильму было выставлено больше всего оценок 5.0.

In [29]:
import pandas as pd

In [30]:
ratings = pd.read_csv('/Users/mac/Downloads/serendipity-sac2018/answers.csv')
ratings[['movieId', 'rating']].head(50)

    movieId  rating
0    108979     5.0
1      6947     4.0
2    117444     4.0
3    150548     4.0
4    136542     5.0
5     77455     3.5
6      1303     4.0
7    103306     3.5
8      2060     4.5
9    135534     3.5
10   128542     3.5
11    26939     4.0
12    40491     3.5
13   104337     3.5
14   162082     4.0
15    96966     4.5
16   165551     4.5
17    89759     5.0
18     5046     3.5
19   116855     4.0
20   102666     4.0
21   127164     4.0
22     6718     3.5
23   137857     3.5
24    69844     4.0
25     6027     4.5
26   162414     5.0
27   164179     3.5
28   164981     3.5
29    65514     4.5
30     1291     4.0
31   162606     4.0
32     6950     3.5
33   157274     4.0
34   127096     3.5
35     4699     3.5
36    80831     4.0
37    27904     3.5
38   155968     4.0
39   110882     4.0
40   159401     3.5
41   131502     3.5
42     6132     4.0
43     4552     4.0
44     3837     3.5
45     2654     3.5
46     3119     3.5
47     3984     5.0
48     3494     4.5
49     2072     4.0

In [31]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userId           2150 non-null   int64
 1   movieId          2150 non-null   int64
 2   rating           2150 non-null   float64
 3   timestamp        2150 non-null   int64
 4   predictedRating  2130 non-null   float64
 5   s1               2059 non-null   float64
 6   s2               1410 non-null   float64
 7   s3               2087 non-null   float64
 8   s4               2126 non-null   float64
 9   s5               2131 non-null   float64
 10  s6               2064 non-null   float64
 11  s7               2131 non-null   float64
 12  s8               2117 non-null   float64
 13  q                2150 non-null   int64
 14  s_ser_rel        2150 non-null   bool
 15  s_ser_find       2150 non-null   bool
 16  s_ser_imp        2150 non-null   bool
 17  s_ser_rec        2150 non-null   bool
 18  m_ser_rel        2150 non-null   bool
 19  m_ser_find       2150 non-null   bool
 20  m_ser_imp        2150 non-null   bool
 21  m_ser_rec        2150 non-null   bool
dtypes: bool(8), float64(10), int64(4)
memory usage: 252.1 KB

In [32]:
len(ratings['movieId'].unique())

1678

In [33]:
ratings.groupby('movieId').count().sort_values('rating',ascending = False).head(1)

,userId,rating,timestamp,predictedRating,s1,s2,s3,s4,s5,s6,...,s8,q,s_ser_rel,s_ser_find,s_ser_imp,s_ser_rec,m_ser_rel,m_ser_find,m_ser_imp,m_ser_rec
movieId,,,,,,,,,,,,,,,,,,,,,
166643,20,20,20,20,20,14,20,20,20,19,...,20,20,20,20,20,20,20,20,20,20

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [34]:
power = pd.read_csv('/Users/mac/Desktop/2see:learn/analytics/Netology/Netology_python/Pandas/10._Основы_pandas/power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [35]:
filtered_countries = power[((power['country'] == 'Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia'))&((power['category'] == 4) | (power['category'] == 12)| (power['category'] == 21))]
filtered_countries = filtered_countries[(filtered_countries['year'] > 2004) & (filtered_countries['year'] < 2011) & filtered_countries['quantity'] > 0]
filtered_countries.groupby('country')['quantity'].sum()

country
Estonia       63440.0
Latvia        54844.0
Lithuania    122197.0
Name: quantity, dtype: float64

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [38]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  86.82      -0.13         -0.15        NaN
1       USDRUB Курс рубля к доллару  73.30      -0.10         -0.13        NaN